<form action="/post-comments" method="post">
  <div>
    <textarea
      name="comments"
      id="comments"
      aria-describedby="comments"
      placeholder="Write your comments here..."
    >
    </textarea>
  </div>
  <input type="submit" value="Submit" />
</form>
