<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
      <% include partials/base.ejs %>
      
      <div class="container-fluid">
          <div class="row">
            
            <div style="float:left; width:500px; height:100%;"></div>
      
            <!--Content-->
            <div class="col offset-0" style="margin-top:80px;">
              <div class="container-fluid">
                <br><br>
                <h1>Welcome to WhoFund!</h1>

                
              </div>
            </div>
      
            <div style="float:right; width:400px; height:100%;"></div>
          </div>
        </div>
  </body>
</html>
