<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% include partials/base.ejs %>
    <div
      class="container-fluid"
      style="text-align: center; margin-top: 2%; margin-bottom: 5%;"
    >
      <form
        id="projectEditForm"
        action="/project/<%=projInfo[0].projtitle%>/edit"
        method="POST"
      >
        <div class="form-group">
          <label for="projectDesc">Description</label>
          <input
            type="text"
            class="form-control"
            name="projectDesc"
            aria-describedby="projectDescHelp"
            placeholder="Enter Description..."
            required
          />
        </div>
        <div class="form-group">
          <label for="projectCategory">Category</label>
          <select
            type="text"
            class="form-control"
            name="projectCategory"
            aria-describedby="projectCategory"
            placeholder="Select category.."
            required
          >
            <option value="Art">Art</option>
            <option value="Comics">Comics</option>
            <option value="Crafts">Crafts</option>
            <option value="Dance">Dance</option>
            <option value="Design">Design</option>
            <option value="Fashion">Fashion</option>
            <option value="Film & Video">Film & Video</option>
            <option value="Food">Food</option>
            <option value="Games">Games</option>
            <option value="Journalism">Journalism</option>
            <option value="Music">Music</option>
            <option value="Photography">Photography</option>
            <option value="Publishing">Publishing</option>
            <option value="Technology">Technology</option>
            <option value="Theater">Theater</option>
          </select>
        </div>
        <div class="form-group">
          <label for="projectTargetAmt">Target Amount</label>
          <input
            type="number"
            min="0.00"
            max="10000.00"
            step="0.01"
            class="form-control"
            name="projectTargetAmt"
            aria-describedby="projectTargetAmtHelp"
            placeholder="Enter Project Target Amount..."
            required
          />
        </div>
        <div class="form-group">
          <label for="projectDeadline">Deadline</label>
          <input
            type="date"
            class="form-control"
            name="projectDeadline"
            aria-describedby="projectDeadlineHelp"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit changes</button>
      </form>
    </div>
  </body>
</html>
