<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% include partials/base.ejs %>
    <div class="container">
      <form id="projectSignUpForm" action="/project-signup" method="POST">
        <div class="form-group">
          <label for="projectTitle">Project Title</label>
          <input
            type="text"
            class="form-control"
            name="projectTitle"
            aria-describedby="projectTitleHelp"
            placeholder="Enter project title..."
            required
          />
        </div>
        <div class="form-group">
          <label for="projectDesc">Description</label>
          <input
            type="text"
            class="form-control"
            name="projectDesc"
            aria-describedby="projectDescHelp"
            placeholder="Enter Description..."
            required
          />
        </div>
        <div class="form-group" id="category">
          <label for="projectCategory">Category (Select 1 or more)</label>

          <div class="container">
          <div class="row" style="justify-content: space-evenly;">
            <input type="checkbox" id="Art" name="categories" value="Art" />
            <label for="Art">Art</label>
            <input
              type="checkbox"
              id="Comics"
              name="categories"
              value="Comics"
            />
            <label for="Comics">Comics</label>
            <input
              type="checkbox"
              id="Crafts"
              name="categories"
              value="Crafts"
            />
            <label for="Crafts">Crafts</label>
            <input type="checkbox" id="Dance" name="categories" value="Dance" />
            <label for="comics">Dance</label>
            <input
              type="checkbox"
              id="Design"
              name="categories"
              value="Design"
            />
            <label for="Design">Design</label>
            <input
              type="checkbox"
              id="Fashion"
              name="categories"
              value="Fashion"
            />
            <label for="Fashion">Fashion</label>
            <input type="checkbox" id="Film" name="categories" value="Film" />
            <label for="Film">Film</label>
            <input type="checkbox" id="Food" name="categories" value="Food" />
            <label for="Food">Food</label>
            <input type="checkbox" id="Games" name="categories" value="Games" />
            <label for="Games">Games</label>
          </div>
          <div class="row"style="justify-content: space-evenly;">
            <input
              type="checkbox"
              id="Journalism"
              name="categories"
              value="Journalism"
            />
            <label for="Journalism">Journalism</label>
            <input type="checkbox" id="Music" name="categories" value="Music" />
            <label for="Music">Music</label>
            <input
              type="checkbox"
              id="Photography"
              name="categories"
              value="Photography"
            />
            <label for="Photography">Photography</label>
            <input
              type="checkbox"
              id="Publishing"
              name="categories"
              value="Publishing"
            />
            <label for="Publishing">Publishing</label>
            <input
              type="checkbox"
              id="Technology"
              name="categories"
              value="Technology"
            />
            <label for="Technology">Technology</label>
            <input
              type="checkbox"
              id="Theater"
              name="categories"
              value="Theater"
            />
            <label for="Theater">Theater</label>
          </div>
        </div>
        <div class="form-group">
          <label for="projectTargetAmt">Target Amount</label>
          <input
            type="number"
            min="0.00"
            max="10000.00"
            step="0.01"
            class="form-control"
            name="projectTargetAmt"
            aria-describedby="projectTargetAmtHelp"
            placeholder="Enter Project Target Amount..."
            required
          />
        </div>
        <div class="form-group">
          <label for="projectDeadline">Deadline</label>
          <input
            type="date"
            class="form-control"
            name="projectDeadline"
            aria-describedby="projectDeadlineHelp"
            required
          />
        </div>
        <div class="form-group">
          <label for="tierOneAmount">Tier 1 Amount</label>
          <input
            type="number"
            min="1.00"
            max="500.00"
            step="0.01"
            class="form-control"
            name="tierOneAmount"
            aria-describedby="tierOneAmount"
            placeholder="Enter Tier 1 Amount..."
            required
          />
        </div>
        <div class="form-group">
          <label for="tierOneRewards">Tier 1 Rewards</label>
          <input
            type="text"
            class="form-control"
            name="tierOneRewards"
            aria-describedby="tierOneRewards"
            placeholder="Enter Tier 1 Rewards..."
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Create Project
        </button>
      </form>
    </div>
  </body>
</html>
