<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% include partials/base.ejs %>
    <form id="signUpForm" action="/auth/signup" method="POST">
      <div class="form-group">
        <label for="signUpUsername">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          aria-describedby="usernameHelp"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group">
        <label for="signUpPassword">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </body>
</html>
